.page-head {
  background-color: rgb(100, 240, 255);
  background-image: url("../images/always-grey.png");

}

.profilePic {
  position: static;
  text-align: center;
}
.username {
  text-align: center;
}