nav {
  z-index: auto;
  font-family: bungee, sans-serif;
  background-color: #4056A1;
  color: #ffffff;
  height: 120px;
  line-height: 120px;
}

.siteTitle {
  font-size: 30px;
  text-align: center;
}

span {
  margin: 1.5em;
  margin-left: 5%;
}
