nav {
  z-index: auto;
  font-family: bungee, sans-serif;
  background-color: #4056A1;
  color: #ffffff;
}

.siteTitle {
  font-size: 30px;
  text-align: center;
}

.navbar {
  background-color: #4056A1;
  border: none;
  color: white;
}